In [1]:
import requests
import io

# Third party libs
import pandas as pd
from pymongo import MongoClient

In [2]:
def read_in_data():
    datastr = requests.get(
        'https://coronavirus.data.gov.uk/downloads/csv/coronavirus-cases_latest.csv', allow_redirects=True).text
    data_file = io.StringIO(datastr)
    d = pd.read_csv(data_file, parse_dates=['Specimen date'])
    return d

In [2]:
client = MongoClient('mongodb://localhost:27017/',
username='root',
password='MongoDB2020')

In [7]:
client.list_database_names()

['admin', 'config', 'local']

In [8]:
d = read_in_data()

In [9]:
d.head()

,Area name,Area code,Area type,Specimen date,Daily lab-confirmed cases,Previously reported daily cases,Change in daily cases,Cumulative lab-confirmed cases,Previously reported cumulative cases,Change in cumulative cases
0,England,E92000001,Nation,2020-05-01,95.0,0.0,95.0,122842,120614.0,2228.0
1,South West,E12000009,Region,2020-05-01,5.0,NaN,NaN,6405,NaN,NaN
2,South East,E12000008,Region,2020-05-01,11.0,NaN,NaN,17324,NaN,NaN
3,London,E12000007,Region,2020-05-01,3.0,NaN,NaN,24700,NaN,NaN
4,East of England,E12000006,Region,2020-05-01,7.0,NaN,NaN,10785,NaN,NaN

In [16]:
df_dict = d.to_dict(orient='records')

In [18]:
type(df_dict)

list

In [19]:
df_dict[0]

{'Area name': 'England',
 'Area code': 'E92000001',
 'Area type': 'Nation',
 'Specimen date': Timestamp('2020-05-01 00:00:00'),
 'Daily lab-confirmed cases': 95.0,
 'Previously reported daily cases': 0.0,
 'Change in daily cases': 95.0,
 'Cumulative lab-confirmed cases': 122842,
 'Previously reported cumulative cases': 120614.0,
 'Change in cumulative cases': 2228.0}

In [4]:
db = client['database']
coll = db['covid_uk']

In [21]:
coll.insert_many(df_dict)

In [5]:
df = pd.DataFrame([x for x in coll.find({'Area name': 'Harrow'})])

In [6]:
df.head()

,_id,Area name,Area code,Area type,Specimen date,Daily lab-confirmed cases,Previously reported daily cases,Change in daily cases,Cumulative lab-confirmed cases,Previously reported cumulative cases,Change in cumulative cases
0,5eadc3722a6eadec96abaec5,Harrow,E09000015,Upper tier local authority,2020-05-01,0.0,NaN,NaN,936,NaN,NaN
1,5eadc3722a6eadec96abaf5e,Harrow,E09000015,Upper tier local authority,2020-04-30,3.0,NaN,NaN,936,NaN,NaN
2,5eadc3722a6eadec96abafe1,Harrow,E09000015,Upper tier local authority,2020-04-29,26.0,NaN,NaN,933,NaN,NaN
3,5eadc3722a6eadec96abb079,Harrow,E09000015,Upper tier local authority,2020-04-28,8.0,NaN,NaN,907,NaN,NaN
4,5eadc3722a6eadec96abb116,Harrow,E09000015,Upper tier local authority,2020-04-27,14.0,NaN,NaN,899,NaN,NaN